layout {
	pane_template name="fpane" {
		x "10%"
		width "80%"
		height "80%"
	}
	cwd "/home/fabrice/sh/monitor_module"

	tab hide_floating_panes=true {
		pane name="editor" {
			command "nvim"
			args "bilan.toml"
			close_on_exit true
		}	

		floating_panes {
			
		}
	}
} 
